<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ecca097c-cf3a-4f82-ae88-30e98dba0b13/resourcegroups/demoClassAPI/providers/Microsoft.Web/sites/Project2-30586453-WebAPI-Test</ResourceId>
    <ResourceGroup>demoClassAPI</ResourceGroup>
    <ApiResourceId>/subscriptions/ecca097c-cf3a-4f82-ae88-30e98dba0b13/resourceGroups/demoClassAPI/providers/Microsoft.ApiManagement/service/apiMServ/apis/connectoffice</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://project2-30586453-webapi-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>31af8c55-d7fa-44e1-b008-f958c8aa2fa9</ProjectGuid>
    <MSDeployServiceURL>project2-30586453-webapi-test.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Project2-30586453-WebAPI-Test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Project2-30586453-WebAPI-Test</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>